.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
  min-height: 100vh;
}
.card{
  width: 25%;
  min-width: 350px;
  margin: 12px 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 5px 10px #ccc;
}
.card:hover{
  box-shadow: 0 5px 10px #888888;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3{
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
}
.card p{
  font-size: 16px;
  color: gray;
  padding: 0 10px 10px 10px;

}
.card h4{
  text-align: right;
  font-weight: 800;
  color: orange;
  font-size: 24px;
}