.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-top: 20px auto;
  min-height: 100vh;
}
.card{
  width: 25%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 5px 10px #ccc;
}
.card:hover{
  box-shadow: 0 5px 10px #888888;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3{
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
}
.card p{
  font-size: 16px;
  color: gray;
  padding: 0 10px 10px 10px;

}
.card h4{
  text-align: right;
  font-weight: 800;
  color: orange;
  font-size: 24px;
}
.admin-btn{
  display: flex;
  gap: 6px;
  margin-top: 8px;
}
.admin-btn button{
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:nth-child(1){
  background-color: green;
  color: white;
}
button:nth-child(2){
  background-color: orange;
  color: white;
}
button:nth-child(3){
  background-color: red;
  color: white;
}
button:nth-child(1):hover{
  background-color: darkorange;
  transition: all 0.3s ease-in-out;
}